* ::-webkit-scrollbar {
  display: none;
}
* {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
@font-face {
  font-family: 'Mellow';
  src: url(https://res.cloudinary.com/jedstroke/raw/upload/v1661197940/HandoSoftTrial-Regular_lvjyzo.ttf);
}
html, body, #root {
  padding: 0;
  height: 100%; 
  width: 100%; 
  margin: 0; 
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  font-display: swap;
  font-family: 'Mellow', Verdana, sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
